<%= form_with(model: seat, local: true) do |form| %>
  <% if seat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seat.errors.count, "error") %> prohibited this seat from being saved:</h2>

      <ul>
      <% seat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :seat_name %>
    <%= form.text_field :seat_name %>
  </div>

  <div class="field">
    <%= form.label :checked %>
    <%= form.check_box :checked %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
