<h1>Seats</h1>

<table>
  <thead>
    <tr>
      <th>Seat Name</th>
    </tr>
  </thead>
<% @movid = params[:movid].present? ? params[:movid] : ""
@sid = params[:sid].present? ? params[:sid] : ""
@scid = params[:scid].present? ? params[:scid] : "" %>
  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.seat_name %></td>
          <% seat.rows.each do |row| %>
          <td>
              <!-- <%#= form_for(Seat.new, :url => "/seats", :html => { :multipart => true, :class => "form-horizontal" }) do |f| %>                     -->
                  <label class="switch">
                    <!-- <%#= f.check_box :checked,{:class => "chkupdate",:res=>"#{seat.checked}",:sid => "#{seat.id}",:rid => "#{row.id}"}, 1, 0 %>   -->

                   <input type="checkbox" name="checked[]" class="chkupdate" value="<%= seat.checked %>" sid="<%= seat.seat_name %>" seatids ="<%= seat.id %>" rid="<%= row.id %>" class="checklist">

                    <span class="slider round"></span>
                  </label>
              <!-- <#% end %>           -->
          </td>
          <% end %>
      </tr>
    <% end %>

  </tbody>
</table> <br>
    <button class="submit" screnid="<%= @scid %>" shwid="<%= @sid %>" movid="<%= @movid %>">Book Seats</button>

<script type="text/javascript">
        
    $(".chkupdate").each(function () {
        if ($(this).attr("res") == true) {
            $(".chkupdate").prop('disabled', true);
        } else {
            $(".chkupdate").prop('disabled', false);
        }
    });


    seat = [];
    seatids = [];
    row = [];
    // $(".chkupdate").change(function(){

    // });

    $(".submit").click(function(){
      var mid = $(this).attr("movid");
      var sid = $(this).attr("shwid");
      var scid = $(this).attr("screnid");

      $(".chkupdate").each(function(){
        console.log($(this).is(":checked"));
         if($(this).is(":checked")){
          seat.push($(this).attr("sid")); 
          seatids.push($(this).attr("seatids")); 
          row.push($(this).attr("rid"));
         }
      });      

      var r = confirm("Are you sure you want to proceed booking seats?");
        if (r == true) {
          window.location.href = "/receipt?movid="+mid+"&sid="+sid+"&scid="+scid+"&seats="+seat+"&rows="+row+"&seatids="+seatids;      
        } else {
          window.location.href = "/seats?movid="+mid+"&sid="+sid+"&scid="+scid;                          
        }
    });


</script>