<table>
	<% @movid = params[:movid].present? ? params[:movid] : ""
	   @sid = params[:sid].present? ? params[:sid] : ""
	   @scid = params[:scid].present? ? params[:scid] : "" %>
	
	<% @seatids = params[:seatids].split(",")
		@seats = params[:seats].split(",")
 	   @rows = params[:rows].split(",") 	   	 	
	%>
	<% @price = 0 %>
	<% @seats.each do |seat| %>
		<% if ["A","B","C"].include? seat %>
			  <% @price = @price + 150 %>
			<% elsif ["D","E","F","G"].include? seat %>
			  <% @price = @price + 200 %>
			<% elsif ["H","I","J"].include? seat %>
			  <% @price = @price + 300 %>
		<% end %>		    	
	<% end %>	


<h1> Receipt </h1>

<h2>Movie Name</h2>
<h3><%= Movie.find_by(id: params[:movid]).try(:name) %> </h3>

<h2>Show/Screen</h2>
<h3><%= Show.find_by(id: params[:sid]).try(:timing) %>/<%= Screen.find_by(id: params[:scid]).try(:name) %></h3>

<h3><%= @seats.count %> tickets selected by <%= current_user.try(:email) %> costs total price <%= @price%>.</h3>

</table>

<br>

<%= button_to "Book Now", {:controller => "tickets", :action => "receipt_data", :screen_id => @scid, :show_id => @sid, :movie_id => @movid, :price => @price,:seats=> @seats,:rows=> @rows,:seatids=> @seatids} , {:method=>:post}  %>
