<p id="notice"><%= notice %></p>

<p>
  <strong>Seat name:</strong>
  <%= @seat.seat_name %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @seat.checked %>
</p>

<p>
  <strong>Row number:</strong>
  <%= @seat.row_number %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
