<style type="text/css">
  .center {
  margin: auto;
  width: 10%;
  border: 3px solid black;
  padding: 10px;
  float: left;
  text-align: center;
}

</style>

<p id="notice"><%= notice %></p>


<h1>Screens</h1>


<div class="container">
  <% mov = Movie.find_by(id: params[:movid]) %>
  <% if mov.present? %>
    <% mov.screens.distinct.each do |screen| %>
        <ul>
            <% screen.shows.each do |show|%>
              <div class="book" style="cursor: pointer;" screnid="<%= show.screen.id %>" shwid="<%= show.id %>" movid="<%= show.movie.id %>">
                 <li class="scren">Movie - <%= show.movie.name %> Screen - <%= show.screen.name %></li>
                 <span class="shw" style="margin: 0 0 3px 0;"><%= show.timing %></span><br><br>
              </div>
            <% end %>
        </ul>
    <% end %>
  <% end %>
</div>

<br>

<!--         <td><%#= link_to 'Show', screen %></td>
        <td><%#= link_to 'Edit', edit_screen_path(screen) %></td>
        <td><%#= link_to 'Destroy', screen, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->


<script type="text/javascript">
  $(".book").click(function(){
      var mid = $(this).attr("movid");
      var sid = $(this).attr("shwid");
      var scid = $(this).attr("screnid");

      window.location.href = "/seats?movid="+mid+"&sid="+sid+"&scid="+scid;      
  });
</script>